@import 'normalize.css/normalize';

:root {
  --baseColor: #1f1f1f;
  --bgColor: #f7f7f7;
  --linkColor: #ff9b44;
  --linkHoverColor: #ff9b44;
  --inputColor: #212529;
  --inputBorderColor: #ced4da;
  --inputBgColor: #fff;
  --inputFocusColor: #212529;
  --inputFocusBorderColor: #ff9b44;
  --inputFocusBgColor: #fff;
  --buttonColor: #333;
  --buttonBgColor: #fff;
  --buttonBorderColor: #ccc;
  --buttonHoverColor: #333;
  --buttonHoverBgColor: #e7e7e7;
  --dangerColor: #f62d51;
}

@media (prefers-color-scheme: dark) {
  :root {
    --baseColor: #bbc4cc;
    --bgColor: #23272b;
    --linkColor: #ff9b44;
    --linkHoverColor: #ff9b44;
    --inputColor: #bbc4cc;
    --inputBorderColor: #e3e3e3;
    --inputBgColor: #2e3439;
    --inputFocusColor: #bbc4cc;
    --inputFocusBorderColor: #ff9b44;
    --inputFocusBgColor: #2e3439;
    --buttonColor: #bbc4cc;
    --buttonBgColor: #000;
    --buttonBorderColor: #000;
    --buttonHoverColor: #bbc4cc;
    --buttonHoverBgColor: #202020;
    --dangerColor: #f62d51;
  }
}

html {
  font-size: responsive 14px 18px;
  font-range: 420px 1440px;
}

body {
  font-family: system-ui;
  font-weight: 400;
  line-height: 1.5rem;
  background-color: var(--bgColor);
  color: var(--baseColor);
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.35rem;
}

h4 {
  font-size: 1.1rem;
}

a {
  color: var(--linkColor);
  text-decoration: none;
}

a:hover,
a:active {
  color: var(--linkHoverColor);
  text-decoration: underline;
}
